<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!-- Navbar -->
        <nav class=" navbar navbar-custom navbar-expand-lg fixed-top navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Rent-A-Driver</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                    </ul>
                    <% if (check == true) { %>
                    <ul class="d-flex navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-light" href="/logout">Logout</a>
                        </li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </nav>

        <!-- User Info -->
        <section class="usr_inf" id="usr_inf" >
            <div class="container position-relative">
                <div class="row">
                    <!-- <h1><%= title %></h1> -->
                    <h2>Your Name: <%= name %></h2>
                    <!-- <p>Welcome to <%= title %></p> -->
                </div>
            </div>
        </section>

        <!-- Driver Card -->
        <section class="dcard" id="dcard">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="lead d-flex justify-content-center mb-5 mx-auto" style="border: 1px solid;border-radius: 10px; box-sizing: border-box;">You have been booked by <%= number %> dealers</p>
                    </div>
                    
                    <% for(var i = 0; i < result.length; i++) { %>
                        <div class="card md-3" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= result[i].name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">City: <%= result[i].city %></h6>
                                <p class="card-subtitle mb-2 text-muted">Mobile: <%= result[i].mobileNo %></p>
                                <!-- <a href="#" class="card-link btn btn-warning">Book Now</a> -->
                                <!-- Button trigger modal -->
                                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal<%= i %>">View</a>
                                
                                <!-- Modal -->
                                
                                <div class="modal fade" id="detailsModal<%= i %>" tabindex="-1" aria-labelledby="detailsModalLabe<%= i %>" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="detailsModalLabel<%= i %>"><%= result[i].name %></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="mb-2">Email: <%= result[i].email %></h6>
                                            <h6 class="mb-2">Mobile: <%= result[i].mobileNo %></h6>
                                            <h6 class="mb-2">Material Nature: <%= result[i].materialNature %></h6>
                                            <h6 class="mb-2">Material Weight: <%= result[i].materialWeight %></h6>
                                            <h6 class="mb-2">Quantity: <%= result[i].quantity %></h6>
                                            <h6 class="mb-2">City: <%= result[i].city %></h6>
                                            <h6 class="mb-2">State: <%= result[i].state %></h6>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>
